<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Welcome{% endblock %} — Abenteuerritter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ '/css/normalize.min.css'|url }}">
        <link rel="stylesheet" href="{{ '/css/main.css'|url }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="{{ '/js/vendor/html5shiv.js'|url }}"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
            <header>
                <h1>Abenteuerritter</h1>
            </header>
            <nav class="clearfix">
                <ul>
                    <li><a href="/">Home</a></li>
                    {% for href, title in [
                      ['/about-us', 'Über uns'],
                      ['/games', 'Spiel mit uns'],
                      ['/kinder', 'Kindergeburtstage'],
                      ['/media', 'Media'],
                      ['/team', 'Das Team'],
                      ['/contact', 'Kontakt'],
                      ['/faq', 'FAQ']
                    ] %}
                      <li{% if this.is_child_of(href) %} class="active"{% endif %}><a href="{{ href|url }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div id="main-container">
                <div id="main" class="clearfix">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ '/js/vendor/jquery-1.11.2.min.js'|url }}"><\/script>')</script>

        <script src="{{ '/js/main.js'|url }}"></script>
    </body>
</html>
